forEach: Model
fileName: UIRequirements.txt
except: {{#checkFE this}}{{/checkFE}}
path: for-model/ui
---
아래의 UI 요구사항을 기반으로 Frontend의 UI를 구성해주세요:

{{#boundedContexts}}{{description}}{{/boundedContexts}}

<function>
window.$HandleBars.registerHelper('checkFE', function (bc) {
    if(bc.name == 'ui'){
        return false;
    }else{
        return true;
    }
})
</function>